extends layout

block content
	.container
		h1 Campaigns
		- if (campaigns.length)
			table.zebra-striped
				thead
					tr
						th Title
						th Vision
				tbody
					- campaigns.forEach(function(campaign){
						tr
							td
								a(href="/campaign/"+  campaign.title)= campaign.title

							td= campaign['vision']
					- })
		- else
			p No registered campaigns yet.
			a(href="/") Create a new one here!