<html>

<head>
	<link href="bootstrap/css/bootstrap-responsive.css" rel="stylesheet" />
	<link href="bootstrap/css/bootstrap.css" rel="stylesheet"/>
	<link href="stylesheets/style.css" rel="stylesheet"/>
	<script src="javascripts/jquery-1.8.3.min.js"></script>
	<script src="javascripts/scripts.js"></script>
</head>
<body>
	<div class="span6" id="ad-form">
		<h1>
			Create your ad
		</h1> 

		<% var title_value = typeof title !== 'undefined' ? 'value=' + title : ''; %>
		<% var body_value = typeof body !== 'undefined' ? 'value='+body : ''; %>

		<form id="form" class="navbar-form pull-left" action="/" method="post" enctype="multipart/form-data">
			<input class="title" type="text" name='title' placeholder="Title" <%= title_value %>><br/>
			<textarea rows="3" class="body" placeholder="Body" <%= body_value %>></textarea><br/>
			<input class="url" type="text" name='url' placeholder="URL"><br/>
			<label class="checkbox">
				<input name="addlogo" type="checkbox"> Use logo
			</label>
			<input type="text" name='schedule' placeholder="Schedule"><br/>
			<input type="text" name='internal_title' placeholder="Internal Title"><br/>
			<input type="file" name="image"><br />
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>


	<div id="preview" class="span6">
		<a class="url" href="">
			<h1 class="title"></h1>
			<div class="body"></div>
		</a>
	</div>
		<!-- 
		<% if (typeof title !== 'undefined'){ %>
		<h1 class="title"><%= title %></h1>
		<% } %>
		<% if (typeof body !== 'undefined'){ %>
		<div class="body" ><%= body %></div>
		<% } %>
		<% if (typeof imageURL !== 'undefined'){ %>
		<img src="<% imageURL %>" />
		<% } %> -->
	</div>
</body>
</html>