<html>


<% include header %>


<body>
	<% include navigation %>

	<div class="span6" id="ad-form">
		<h1>Create your ad</h1> 
		<% console.log("body: " + body); %>
		<% var title_value = typeof title !== 'undefined' 
		? "value='" + title + "'" 
		: ''; %>
		<% var body_value = typeof body !== 'undefined' ?  body : ''; %>

		<form id="form" class="navbar-form pull-left" action="/" method="post" enctype="multipart/form-data">
			<input 		name='title' 	class="title" 	type="text"  placeholder='Title' <%= title_value %>><br/>
			<textarea 	name='body' 	rows='3'  		class='body' placeholder='Body'><%= body_value %></textarea><br/>
			<input 		name='url' 		class='url' 	type='text' placeholder="URL"><br/>
			<label class="checkbox">
				<input name="addlogo" type="checkbox"> Use logo
			</label>
			<input type="text" name='schedule' placeholder="Schedule"><br/>
			<input type="text" name='internal_title' placeholder="Internal Title"><br/>
			<input type="file" name="image"><br />
			<button type="submit" class="btn">Submit</button>
		</form>
	</div>


	<div id="preview" class="span6">
		<a class="url" href="">
			<h1 class="title" data-bind="text: firstName"></h1>
			<div class="body"></div>
		</a>
	</div>

<p>First name: <strong data-bind="text: title"></strong></p>

	<script>
	function AppViewModel() {
		this.title = ko.observable("Title");
		this.lastName = ko.observable("Bertington");
	}
	ko.applyBindings(new AppViewModel());
	</script>
		<!-- 
		<% if (typeof title !== 'undefined'){ %>
		<h1 class="title"><%= title %></h1>
		<% } %>
		<% if (typeof body !== 'undefined'){ %>
		<div class="body" ><%= body %></div>
		<% } %>
		<% if (typeof imageURL !== 'undefined'){ %>
		<img src="<% imageURL %>" />
		<% } %> -->
	</div>
</body>
</html>