<html>
<% include header %>
<body>
  <% include navigation %>

  <form action="/login" method="post" class='navbar-form pull-left form-horizontal'>
    <div class="control-group">
      <label class="control-label" for="name">username</label>
      <div class="controls">
        <input type="text" name="username"/>
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="name">password</label>   
      <div class="controls">
        <input type="password" name="password"/>
      </div>
    </div>
    <div class="control-group">
      <div class="controls">
        <button type="submit" class="btn">Log in</button><a href="/signup">...or Sign up</a>
      </div>
    </form>
  </form>
</body>
<% include footer %>

</html>
