<div class="navbar navbar-inverse">
	<a href="#" class="scrolltop">
		<span>up</span>
	</a>
	<!-- begins navbar -->
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</a>
				<a class="brand scroller" data-section="body" href="/">
					<img style="width:50px; height:50px;" src="/bootstrap/img/1369237343_contact.png" alt="logo" />
                                        <% var title_value = typeof pagetitle !== 'undefined' ?  pagetitle : 'Welcome to Emailfooters'; %>
                                       
                                        <span><%= title_value %></span>
				</a>
				<div class="nav-collapse collapse">
					<ul class="nav pull-right">
						<li><a href="/add">Add new Campaign</a></li>
						<li><a href="/campaigns">Campaigns</a></li>
						<li><a href="/deleteall">Delete all</a></li>
						<% if (typeof user !== 'undefined') { %>
						<li><a class="btn-header"  href="/user">Hello, <%= user.username %></a></li>
						<% } else { %>
						<li><a class="btn-header" href="/login">Log in</a></li>
						<% } %>
						<li>
                                                    <% if (typeof user === 'undefined') { %>
                                                        <a class="btn-header" href="/signup">Sign up</a>
                                                    <% } else { %>
                                                        <a class="btn-header" href="/logout">Log out</a>
                                                    <% } %>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
	<!-- ends navbar -->
</div>