<html>
<% include header %>
<body>
	<!-- <% include navigation %> -->

	<div id="preview" class="span6">
		<a class="url" data-bind="attr:{href:url}">
			<h1 class="title" data-bind="text: title"><%= campaign.title %></h1>
			<div class="body" data-bind="text: body"><%= campaign.body%></div>
		</a>
	</div>
</body>
</html>