body {
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

.navbar {height: 50px;}
#content .clearleft {clear:left;}
#preview {margin:100px 50px 0 50px;}
#footer {clear:left;}

.hidden {display:none;}

#emailfootersdial {
    font-family: Arial, Helvetica, sans-serif;
}

#emailfootersdial .inpdata {width:99%; border:none; padding:5px; margin-top:20px;}
